{% load static tailwind_tags %}
{% load fontawesome_6 %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
    <title>Placemik | {% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="shortcut icon" type="image/png" href="{% static 'webapp/images/favicon.ico' %}"/>

		{% tailwind_css %}
		{% fontawesome_6_static %}
		<script type="text/javascript" src="{% static 'webapp/js/alpine.js' %}"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<style>
			body {
				font-family: 'Roboto', sans-serif;
				padding: 0;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div class="bg-white p-4 flex gap-4 w-full flex-col">
			<div class="flex justify-end gap-10 items-center">
				<div class="flex flex-row gap-4 justify-between">
					<div x-data="{ show: false }">
						<div
						  class="hover:cursor-pointer hover:underline"
							x-on:click="show = !show"
							@click.outside="show = false"
						>
							Customers {% fa6_icon 'chevron-down' 'fa-solid' %}
						</div>
						<div class="flex flex-col absolute bg-white p-4" x-show="show" x-transition>
							<h3 class="text-2xl">For customers</h3>
							<a class="hover:underline cursor-pointer">How it works</a>
							<a class="hover:underline cursor-pointer">Customer security</a>
							<a class="hover:underline cursor-pointer">Payments</a>
							<a class="hover:underline cursor-pointer">How to use</a>
							<a class="hover:underline cursor-pointer">Account registration</a>
						</div>
					</div>
					<div x-data="{ show: false }">
						<div
							class="hover:cursor-pointer hover:underline"
							x-on:click="show = !show"
							@click.outside="show = false"
						>
							Partners {% fa6_icon 'chevron-down' 'fa-solid' %}
						</div>
						<div class="flex flex-col absolute bg-white p-4" x-show="show" x-transition>
							<h3 class="text-2xl">For partners</h3>
							<a class="hover:underline cursor-pointer">How to be a seller</a>
							<a class="hover:underline cursor-pointer">Rules</a>
							<a class="hover:underline cursor-pointer">Login</a>
						</div>
					</div>
					<a>FAQ</a>
				</div>
				<div class="flex items-center gap-4">
					<a>🇺🇸</a> |
					<a>USD</a> |
					<select class="border-0">
						<option>$</option>
					</select>
				</div>
			</div>
			<div
			  class="flex gap-10 justify-between"
				x-data="{ show: false, subMenu: false }"
				@click.outside="show = false; subMenu = false"
			>
				<div
				  class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-4 text-white cursor-pointer"
					@click="show = !show"
				>
					{% fa6_icon 'bars' 'fa-solid fa-xl' %}
				</div>
				<div
				  class="absolute z-10 flex flex-col drop-shadow-lg bg-white p-4 gap-2"
					x-show="show"
					x-transition
				>
					{% for group in categoryGroups %}
						<div class="flex flex-row gap-2">
							<a
							  class="hover:underline cursor-pointer hover:bg-gradient-to-r p-2 from-indigo-500 via-purple-500 to-pink-500 hover:text-white self-start"
								:class="subMenu == {{ group.id }} ? 'bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white' : ''"
								@click="subMenu = {{ group.id }}"
							>
							  {{ group.name }}
							</a>
							<div
							  class="flex flex-col gap-2 md:grid md:grid-cols-2 lg:grid-cols-3"
								x-show="subMenu == {{ group.id }}"
								x-transition
							>
								{% for category in group.categories.all %}
									<a class="hover:underline cursor-pointer">{{ category.name }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
				<a href="{% url 'webapp:index' %}"><img src="{% static 'webapp/images/brand.png' %}" alt="Placemik" /></a>
				<div class="border-purple-500 border-2 flex-1 flex">
					<select class="border-0 h-full bg-purple-100">
						<option value="0">All categories</option>
						{% for group in categoryGroups %}
							<option value="{{group.id}}">{{group.name}}</option>
						{% endfor %}
					</select>
					<input class="flex-1 focus:outline-0 px-4" />
					<button class="px-4">{% fa6_icon 'magnifying-glass' 'fa-solid fa-xl' %}</button>
				</div>
				<div class="flex justify-end gap-10 items-center">
					<a>{% fa6_icon 'user' 'fa-regular fa-xl' %}</a>
					<a>
						{% fa6_icon 'heart' 'fa-solid fa-xl' %}
					</a>
					<a>
						{% fa6_icon 'cart-shopping' 'fa-solid fa-xl' %}
					</a>
				</div>
			</div>
		</div>
		{% block content %}{% endblock content %}
		<div class="bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 text-white md:grid md:grid-rows-3 md:grid-cols-3 gap-4 items-center p-4">
			<div class="flex flex-col">
				<h3 class="text-2xl">For customers</h3>
				<a class="hover:underline cursor-pointer" href="{% url 'webapp:pages_detail' 'how-it-works' %}">How it works</a>
				<a class="hover:underline cursor-pointer">Customer security</a>
				<a class="hover:underline cursor-pointer">Payments</a>
				<a class="hover:underline cursor-pointer">How to use</a>
				<a class="hover:underline cursor-pointer">Account registration</a>
			</div>
			<div class="flex flex-col">
				<h3 class="text-2xl">About</h3>
				<a class="hover:underline cursor-pointer">About Placemik</a>
				<a class="hover:underline cursor-pointer">News</a>
				<a class="hover:underline cursor-pointer">FAQ</a>
				<a class="hover:underline cursor-pointer">Support</a>
				<a class="hover:underline cursor-pointer">Terms of use</a>
			</div>
			<div class="flex flex-col h-full">
				<h3 class="text-2xl">For partners</h3>
				<a class="hover:underline cursor-pointer">How to be a seller</a>
				<a class="hover:underline cursor-pointer">Rules</a>
				<a class="hover:underline cursor-pointer">Login</a>
			</div>
			<div class="col-span-2 flex flex-col">
				<div>Subscribe to our newsletter:</div>
				<form class="flex gap-4 pt-2 w-full">
					<input type="text" placeholder="Enter your email here" class="max-w-sm w-96 bg-transparent border-white placeholder-white placeholder:italic" />
					<button type="submit" class="bg-white text-purple-500 px-6">Subscribe</button>
				</form>
			</div>
			<div class="flex-col gap-4">
				<div class="text-base my-4">We are in social networks</div>
				<div class="flex gap-10">
					<a href="vk.com" class="hover:text-gray-200" target="_blank">{% fa6_icon 'vk' 'fab fa-2xl' %}</a>
					<a href="instagram.com" class="hover:text-gray-200" target="_blank">{% fa6_icon 'instagram' 'fab fa-2xl' %}</a>
					<a href="fb.com" class="hover:text-gray-200" target="_blank">{% fa6_icon 'facebook' 'fab fa-2xl' %}</a>
				</div>
			</div>
			<img class="col-span-2" src="{% static 'webapp/images/logo.png' %}" alt="Placemik" />
			<div>© PlaceMik.ru, 2021</div>
		</div>
	</body>
</html>
