{% extends "base.html" %}

{% load static %}
{% load fontawesome_6 %}
{% load get_range %}
{% load delivery_date %}

{% block title %}Product - {{ product.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-2 gap-4 p-4">
  <img src="{{ product.image_url }}" alt="{{ product.name }}" class="w-full h-full" />
  <div class="flex flex-col gap-4 justify-between">
    <p class="self-end">#{{ product.id }}</p>
    <h1 class="text-2xl">{{ product.name }}</h1>
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row justify-between gap-4 items-center">
        {% for _ in product.rating|get_rating_stars_range %}
          <i class="fas fa-star text-yellow-400"></i>
        {% endfor %}
        {% for _ in product.rating|get_rating_stars_empty_range %}
          <i class="far fa-star text-yellow-400"></i>
        {% endfor %}
        <span>{{ product.reviews.count }} reviews</span>
      </div>

      {% fa6_icon 'heart' 'far fa-xl' %}

      <div>
        In stock:
        <span class="font-bold">{{ product.amount }}</span>
      </div>
    </div>

    <div class="p-4 text-red-500 text-xl">${{ product.price }}</div>

    <button class="bg-blue-500 text-white p-2 rounded">Add to cart</button>

    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2 items-center">
        <span class="font-bold">Your location:</span>
        <span class="text-sm">Finland</span>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <span class="font-bold">Approximately delivery:</span>
        <span class="text-sm">{% get_delivery_date %}</span>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2 items-center">
        <span class="font-bold">About the product:</span>
        <span class="text-sm">"{{ product.name }}" has been bought more than {{ product.order_items.count }}-times.</span>
      </div>
    </div>

    <div class="flex flex-row items-center justify-evenly">
      <a href="#description" class="border-2 border-pink-500 px-10 py-1 rounded-md cursor-pointer hover:bg-slate-100">Description</a>
      <a href="#reviews" class="border-2 border-purple-500 px-10 py-1 rounded-md cursor-pointer hover:bg-slate-100">Reviews</a>
    </div>

    <div class="flex flex-row items-center justify-evenly">
      <div class="flex flex-row items-center gap-2">
        {% fa6_icon 'archive' 'fa-solid' %}
        <span>Free shipping</span>
      </div>
      <div class="flex flex-row items-center gap-2">
        {% fa6_icon 'shield' 'fa-solid' %}
        <span>Free returns</span>
      </div>
      <div class="flex flex-row items-center gap-2">
        {% fa6_icon 'credit-card' 'fa-solid' %}
        <span>Online payments</span>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-rows-1 grid-cols-5 gap-4 m-4 w-full">
  {% for item in see_also %}
    {% include "webapp/snippets/small_product_snippet.html" with id=item.id image_url=item.image_url name=item.name price=item.price %}
  {% endfor %}
</div>

<div class="flex flex-row gap-4 m-4 w-full">
  <div class="flex flex-col gap-4 flex-1">
    <div class="flex flex-col gap-4 m-4" id="description">
      <h2 class="text-2xl">Description</h2>
      <p class="text-justify">{{ product.description }}</p>
    </div>

    <div class="flex flex-col gap-4 m-4" id="reviews">
      <h2 class="text-2xl">Reviews ({{ product.reviews.count }})</h2>

      <form class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <label for="rating">Rating</label>
          <select name="rating" id="rating" class="rounded-md">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <label for="user_name">Name</label>
          <input type="text" name="user_name" id="user_name" cols="10" rows="3" class="rounded-md" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="review">Review</label>
          <textarea name="review" id="review" cols="10" rows="3" class="rounded-md"></textarea>
        </div>
        <button class="bg-blue-500 text-white p-2 rounded">Submit</button>
      </form>

      <div class="flex flex-col gap-4">
        {% for review in product.reviews.all %}
          <div class="flex flex-col gap-2 drop-shadow-lg bg-white rounded-md p-4">
            <div class="flex flex-row gap-2 items-center">
              {% for _ in review.rating|get_rating_stars_range %}
                <i class="fas fa-star text-yellow-400"></i>
              {% endfor %}
              {% for _ in review.rating|get_rating_stars_empty_range %}
                <i class="far fa-star text-yellow-400"></i>
              {% endfor %}
              <span>{{ review.user_name }}</span>
              <span>{{ review.created_at|date:'Y-m-d' }}</span>
            </div>
            <p class="text-justify">{{ review.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 justify-between drop-shadow-lg bg-white rounded-md p-4 m-4">
    <h3 class="text-xl text-center">Ads</h3>
    {% for item in ads %}
      <div class="flex w-full">
        <a src={{ item.url }} class="flex w-full">
          <img src={{ item.image_url }} alt={{ item.name }} class="rounded-md flex-1 object-cover h-48 w-96" />
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}