{% extends "base.html" %}

{% load static %}
{% load fontawesome_6 %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="container mx-auto my-4 flex flex-col gap-4">
  <h1 class="text-2xl">All Products</h1>

  <div class="grid grid-rows-2 grid-cols-6 gap-4">
    {% for item in products %}
      {% include "webapp/snippets/product_snippet.html" with image_url=item.image_url name=item.name price=item.price description=item.description %}
    {% endfor %}
  </div>
</div>
{% endblock %}